[Unit]
Description=uWSGI instance to serve myprojectadmin
After=network.target

[Service]
User=Russ
Group=www-data
WorkingDirectory=/home/Russ/SEProject
Environment="PATH=/home/Russ/SEProject/navimalladminenv/bin"
ExecStart=/home/Russ/SEProject/navimalladminenv/bin/uwsgi --ini myprojectadmin.ini

[Install]
WantedBy=multi-user.target
