{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>NaviMall</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link href="{{ url_for('static', filename='css/navimall.css') }}" rel="stylesheet"/>
		<!-- <link rel="shortcut icon" href="images/navimall_logo.png" />
 -->
		<script type="text/javascript">
			function showParkingAvailability(clickedID){

	          var carparkNumber = clickedID;
	          var d = new Date();
	          var dateQuery = d.toISOString().replace('Z','');
          		$.ajax({
                      url: "https://api.data.gov.sg/v1/transport/carpark-availability?date_time="+dateQuery,
                      success: function(result){
                          var TrueResult = JSON.stringify(result);
                          var availability = "";
                          var obj = JSON.parse(TrueResult);
                          var length = obj.items[0].carpark_data.length;
                          for(var i=0; i < length;i++){
                            if(obj.items[0].carpark_data[i].carpark_number == carparkNumber){
                              availability = obj.items[0].carpark_data[i].carpark_info[0].total_lots;
                              break;
                            }
                          }
                          $('#'+carparkNumber).empty();
                          $('#'+carparkNumber).append(availability);
                      }
                  });
          
      		}

			$(document).ready(function(){
				var jsonParking = '{{result|tojson}}';
				var jsonNearbyParking =  '{{result2|tojson}}';
				var mallCarpark = jsonParking.replace(/(^")|("$)/g, '');
				var neighborhoodCarpark = jsonNearbyParking.replace(/(^")|("$)/g, '');
				
				var objCP = JSON.parse(mallCarpark);
				var objNCP = JSON.parse(neighborhoodCarpark);

				$('#mallNameTitle').empty();
				$('#mallParkingRateContentDiv').empty();
				$('#nearbyParkingRateContentDiv').empty();
				$('#shopDisplay').empty();

				/*var shopReturnTab = "<input type=hidden name=\"mall\" value=\""+ objCP.carpark +"\">"+
									"<a href=\"#\" onclick=\"document.getElementById(\'shopDisplay\').submit()\" class=\"nav-item nav-link\"  role=\"tab\">Shops</a>"
				$("#shopDisplay").append(shopReturnTab);*/

				$("#mallNameTitle").append(objCP.carpark);
				var constructParkingInfo ="<h5>Weekday Rates</h5>" +
											"<p>"+ objCP.rate1 +"</p>" +
											"<p>"+ objCP.rate2 +"</p>" +
											"<h5>Saturday Rates</h5>" +
											"<p>"+ objCP.sat_rate +"</p>" +
											"<h5>Sunday and Holiday Rates</h5>" +
											"<p>"+ objCP.sun_hol +"</p>"; 
				$("#mallParkingRateContentDiv").append(constructParkingInfo);
				var bodyInfo = "";
				var length = objNCP.length;
				for (var i =0; i<length; i++){
					bodyInfo += "<div class=\"card text-white mb-3\">"+
									"<div class=\"card-body\">"+
										"<h5 class=\"card-title\">"+ objNCP[i].carpark +"</h5>" +
										"<dl class=\"row\">"+ 
											"<dt class=\"col-sm-3\">Carpark Type</dt>"+
											"<dd class=\"col-sm-9\">"+objNCP[i].types+"</dd>"+ 
								
											"<dt class=\"col-sm-3\">Short Term Parking</dt>"+
											"<dd class=\"col-sm-9\">"+objNCP[i].short_term+"</dd>"+ 
								
											"<dt class=\"col-sm-3\">Free Parking</dt>"+
											"<dd class=\"col-sm-9\">"+objNCP[i].free+"</dd>"+ 
								
											"<dt class=\"col-sm-3\">Night Parking</dt>"+
											"<dd class=\"col-sm-9\">"+objNCP[i].night+"</dd>"+ 
								
											"<dt class=\"col-sm-3\">Available Lots</dt>"+
											"<dd class=\"col-sm-9\">"+
                        							"<span id=\""+objNCP[i].carparkNum+"\" class=\"avail\">0</span>"+
                        							"<button id=\""+objNCP[i].carparkNum+"\" onclick=\"showParkingAvailability(this.id)\" class=\"btn btn-outline-light btn-sm availBtn\" type=\"button\">Refresh</button>"+
                      						"</dd>"+
									"<dt class=\"col-sm-3\">Navigate</dt>"+
									"<dd class=\"col-sm-9\">"+
											"<a href=\"http://maps.google.com?q="+objNCP[i].lat+","+objNCP[i].long+"\" class=\"btn btn-outline-light btn-sm availBtn\" >Navigate</a>"+
									"</dd>"+
										"</dl>"+
									"</div>"+
								"</div>";
				}

				$("#nearbyParkingRateContentDiv").append(bodyInfo);

			});
		</script>


	</head>
	<body>
		<nav class="navbar sticky-top navbar-light" style="background-color: rgb(217,217,217);">
			<a class="navbar-brand" href="/">
				<img src="{{url_for('static', filename='images/navimall_logo.png')}}" width="100" height="25" class="d-inline-block align-top" alt="">
			</a>
		</nav>
		
		<h1 id="mallNameTitle" class="text-center"></h1>
		
		<div id="mainPageContent">
			<nav class="nav nav-justified" id="myTab">
				<!--<form action="http://127.0.0.1:8008/mallResults" method="post" id="shopDisplay" >
						
				</form>-->
				<a class="nav-item nav-link" href="/mallResults" role="tab">Shops</a>
				<a class="nav-item nav-link active" href="#" role="tab">Parking</a>
			</nav>
		</div>
		
		<div id="mallParkingRateContent">
			<h4>Parking Rates</h4>
			<div id="mallParkingRateContentDiv">
			</div>
		</div>
		
		<div id="nearbyParkingRateContent">
			<h4 id="nearbyParkingRateTitle">Alternative Parking Spots</h4>
			<div id="nearbyParkingRateContentDiv">
			</div>		
		</div>
		
		<footer class="text-center">
			<p>BitterSweet</p>
			<p>Software Engineering Assignment</p>
			<p>Nanyang Technological University</p>
		</footer>
		
	</body>
</html>
{% endblock %}
